<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system> 
        <section id="about_us" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>About Us</label>
            <tab>swaminathan</tab>
            <resource>Swaminathan_AboutUs::aboutus_config</resource>
             <!-- About Us-->
            <group id="about" translate="label" type="text" sortOrder="10" showInDefault="1"
                showInWebsite="1" showInStore="1">
                <label>About Us</label>
 
                <field id="page_title" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Page title</label>
                </field>
                <field id="short_description" translate="label comment" type="textarea" sortOrder="10" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Short Description</label>
                </field>
                <field id="title" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label comment" type="textarea" sortOrder="10" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Description</label>
                </field>
                <field id="about_us_image" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Desktop Image</label>
                    <backend_model>Swaminathan\About\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">aboutus</base_url>
                </field>
                 <field id="mobile_image" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile Image</label>
                    <backend_model>Swaminathan\About\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">aboutus</base_url>
                </field>
                <field id="info_section_title1" translate="label comment" type="text" sortOrder="70" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Info Section Title1</label>
                </field>
                <field id="info_section_title2" translate="label comment" type="text" sortOrder="80" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Info Section Title2</label>
                </field>
            </group>  
            <group id="seo" translate="label" type="text" sortOrder="10" showInDefault="1"
                showInWebsite="1" showInStore="1">
                <label>Search Engine Optimization</label>
                   <field id="meta_title" translate="label comment" type="text" sortOrder="80" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Meta Title</label>
                    </field> 
                    <field id="meta_keywords" translate="label comment" type="textarea" sortOrder="80" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Meta Keywords</label>
                    </field> 
                    <field id="meta_description" translate="label comment" type="textarea" sortOrder="80" showInDefault="1"
                        showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Meta Description</label>
                    </field> 
            </group>
        </section>
    </system>
</config>
 

 