<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer_registration>
            <customer_notification_email>
                <enable>0</enable>
            </customer_notification_email>
        </customer_registration>
    </default>
</config>